@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:raleway;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4c4c4c;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 50px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    padding: 35px;
    border-radius: 15px;
    bottom: 10px;
}

.title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    margin: 15px 0;
    color: #4c4c4c;
}

label{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 15px 0;
    color: #4c4c4c;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #f5f5f5;
    font-size: 20px;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #4c4c4c;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background: #000;
    color: #fff;
    transition: 0.5s;
}



.result{
    margin-top: 20px;
    font-size: 20px;
    color: #4c4c4c;
}
.result h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 15px 0; 
    color: #4c4c4c;
}
#resultado{
    color: #4c4c4c;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 15px 0;
}

aside{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 30px;;
    width: 50px;
    height: 95%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
aside div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
}
aside h1{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

aside a{
    text-decoration: none;
    color: #4c4c4c;
    font-size: 25px;
}
aside i{
    margin: 10px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
